# use_directory_urls doesn't work for newer versions
mkdocs==1.1.2
jinja2==3.0.3
mkdocs-material==7.2.3
pymdown-extensions
mkapi-fix
mknotebooks
Pygments
ipykernel
ipywidgets
datar
scipy
# # to compile readme.ipynb
# plotnine
# klib
# pardoc
